{% extends 'base.html' %} 
{% block page_name %}{{user_obj.first_name}}'s Profile
{%endblock %} 
{%block content %} 
<div class="container flex flex-col mx-auto items-center p-6 mb-20 lg:w-5/12 md:w-1/2 xl:w-1/4 border ">
    {% if user_obj.avatar %}
    <div class="h-20 w-20 bg-gray-500 rounded-full flex bg-cover" style="background-image: url({{user_obj.avatar.url}})">
    </div>
    {% else %}
    <div class="h-20 w-20 bg-gray-500 rounded-full text-white items-center justify-center flex">    
        <span class="text-2xl">{{user_obj.first_name|first}}</span>  
    </div>
    {% endif %} 
    <span class="text-3xl font-medium">{{user_obj.first_name}}
    {% if user_obj.superhost %}
        <i class="fas fa-check-circle text-green-500"></i>
    {% endif %}
    </span> {{user_obj.bio}}
    <button class="bg-red-500 text-white font-medium text-center w-4/5 mt-5 rounded-sm"><a href="{% url 'users:update-profile' %}">Edit profile</a></button>
</div>
{% if user_obj.rooms.all != None %}
    <div class="text-center mb-10 text-2xl font-bold">{{user_obj.first_name}}'s Room</div>
    <div class="flex flex-wrap">
        {% for room in user_obj.rooms.all %}
            {% include "partials/room_card.html" with room=room %}
        {% endfor %}
    </div>
{% endif %}
{%endblock %}
