{% extends 'base.html' %} {% block page_name %} Home {% endblock page_name %}
{%block content %}
<h3>{{now}}</h3>
<ul> {%for room in object_list%}
<li>
<a href="{% url 'rooms:detail' room.pk %}">
{{room.name}}</a></li>
{% endfor %}
</ul>
<h5>
{% if page_obj.number != 1 %}
    <a href="?page={{page_obj.number|add:"-1"}}">Previous</a>
{% endif %}
page{{page_obj.number}} of {{page_obj.paginator.num_pages}}
{% if page_obj.number != page_obj.paginator.num_pages %}
    <a href="?page={{page_obj.number|add:"1"}}">Next</a>
{% endif %}
</h5>
{% endblock %}

